# Dependencies
node_modules/
.pnpm-store/

# Next.js / React / Vercel build outputs
.next/
out/
dist/
build/
.vercel

# Environment variables & secrets (CRITICAL)
.env
.env*.local
*.pem

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db
